body{
    margin:0px;
    /* overflow:hidden; */
}
/* #reallife{
    background: linear-gradient(to top left, powderblue, white);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: black;
    font-family: sans-serif;
    width: 200px;
    padding-left: 15px;
} */

#options{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    padding-left: 15px;
    padding-top: 15px;
}

#reallife{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15px;
    padding-top: 15px;
}

.stopPoint{
    width: 30px;
    height: 30px;
    border: 3px solid #121115;
    border-radius: 50%;
    background-color: #9adcc0;
}
.stopPoint--active{
    background-color: blue;
}

.rowStopPoint{
    height: 30px;
    display: grid;
    grid-template-columns: 30px auto;
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;
}

#listStopPoints{
    /* overflow: scroll; */
    /* overflow-x: scroll; */
    overflow-y: scroll;
    /* overflow: -webkit-paged-y; */
    height: 290px;
}

.stopBridge{
    height: 22px;
    width: 1px;
    border: 1px solid #121115;
    margin-left: 13px;
}

.bus{
    color: #00ff00;
    position: absolute;
    left: 16.5px;
}

#frame{
    position: absolute;
    top: 0;
    right: 0;
    width: calc( 50% - 25px );
    height: 100%;
    padding-right: 10px;
    padding-top: 15px;
}

#screenshot{
    margin-top: 35px;
}
#screenshot>img{
    width: 580px;
}

#chartdiv {
    width: 100%;
    /* height: 500px; */
  }