<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %>, <%= user %></p>
  <% if (user === 'anonymous') { %>
  <a href="http://localhost:3000/auth/google">google login</a>
  <% } %>
</body>

</html>